@import "background";

$primary-color: #4e54c8;
$secondary-color: rgb(188, 190, 207);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  position: relative;
  height: 100vh;
}
body {
  background: $primary-color;
  overflow: hidden;
}

h1 {
  min-width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0 0 0;
  color: $primary-color;
  background-color: $secondary-color;
  padding-bottom: 20px;
  width: 60%;
  border-radius: 0 0 10px 10px;
  text-shadow: 2px 4px 4px #7378d4;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
  p {
    color: rgba(7, 7, 7, 0.425);
    text-shadow: 2px 4px 4px #8f8f92;
    font-size: 1.5rem;
  }
}

ul {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(6, auto);
  transition: filter 1s;
}

li {
  list-style: none;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.box {
  max-width: 800px;
  height: 550px;
  margin: 40px auto;
  padding: 0 10px;
}

.card {
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #8b8fdb;
  background-color: rgb(188, 190, 207) !important;
}

.covered {
  background: url("./images/spades.png") center/cover !important;
  transform: rotateY(180deg);
  transition: transform 1.1s;
}

.win-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -140px;
  font-size: 1.8rem;
  background-color: rgba(188, 190, 207, 0.493);
  border: 1px solid #555555;
  padding: 20px;
  border-radius: 10px;
  visibility: hidden;
  transition: visibility 1s;

  button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffffe7;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    border: none;
    outline: none;
    margin-top: 15px;

    &:hover {
      background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }
}
